[submodule "dummies-gui"]
	path = dummies-gui
	url = https://github.com/Teidesat/dummies-gui.git
	branch = dev
[submodule "dummies-firmware"]
	path = dummies-firmware
	url = https://github.com/Teidesat/dummies-firmware.git
	branch = dev
[submodule "dummies-server"]
	path = dummies-server
	url = https://github.com/Teidesat/dummies-server.git
	branch = dev
