[submodule "dummies-gui"]
	path = dummies-gui
	url = git@github.com:Teidesat/dummies-gui.git
	branch = main
[submodule "dummies-firmware"]
	path = dummies-firmware
	url = git@github.com:Teidesat/dummies-firmware.git
	branch = main
[submodule "dummies-server"]
	path = dummies-server
	url = git@github.com:Teidesat/dummies-server.git
	branch = main
